
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>V R Auto Services</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">V R Auto</a>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>V R Auto Services</h1>
        <p>V R Auto Services is a family run mechanics with xyz years experience.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>All Cars</h2>
          <p>We service all cars large and small. Feel free to contact us with any queries </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Contact Us</h2>
          <p>To book in a service please call us.</p>
          <p>T: (08) 9303 2782</p>
          <p>M: 0427 243 438</p>
          <p>A: Unit1, 17 Prestige parade
          <br>  Wangara WA 6065 </br>
          </p>
          <p><a class="btn btn-default" onclick=" window.open('https://www.google.com.au/maps/place/17+Prestige+Parade,+Wangara+WA+6065/@-31.796168,115.846991,17.5z/data=!4m5!3m4!1s0x2a32ad868023d0d1:0x8c7426383412bbd0!8m2!3d-31.7965668!4d115.8462923','_blank')"
          role="button">View map &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Wheel alignment</h2>
          <p>Our laser wheel alignemnt machine allows us to ensure you can get the longest life possible out of your tyres</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>



